

+section(
	'text-right',
	['img/content/img-produkte-2.jpg'],
	'Shaker-Leiste als Inspirationsquelle',
	['Der Gedanke „aktive Nutzung der Wand“ ist die Kerninnovation der b3. Visionäres Vorbild für die Entwicklung des Küchensystems bildete die intelligente Hauseinrichtung der Shaker im 19. Jahrhundert, die für ihre höchste Verarbeitungsqualität, Nützlichkeit, Materialgerechtigkeit und Schlichtheit bekannt ist. Die Mulitfunktionswand der b3 zieht ihren gedanklichen Ursprung aus der Shaker-Leiste und steht exemplarisch für die einzigartige ergonomische Perfektion von bulthaup: Alle Funktionen und Stauraum sind im Griffbereich mit wandhängenden Unterschränken, Funktionsboxen und halbhoch gehängten Oberschränken oder Borden konzentriert.']
)

+section(
	'text-left',
	['img/content/img-produkte-3.jpg'],
	'bulthaup monoblock',
	['Eine schöne Ergänzung für das Einrichtungssystem b3 ist der bulthaup monoblock. Die fugenlos verarbeiteten Elemente aus Edelstahl oder Laminat werden nach den Wünschen der Kunden sorgfältig einzeln angefertigt. Maße und Material können individuell gewählt, die Wasser- und Kochstelle nach Bedarf integriert werden.']
)

.section-margin

	.container

		.row.custom-row
			.col-12.col-lg-6
				picture
					source(srcset="img/content/img-produkte-4.webp" type="image/webp")
					img.img(src="img/content/img-produkte-4.jpg", alt="alt")
				.row.custom-row.section-double__ind
					.col-6.col-lg-6
						picture
							source(srcset="img/content/img-produkte-5.webp" type="image/webp")
							img.img(src="img/content/img-produkte-5.jpg", alt="alt")
					.col-6.col-lg-6
						picture
							source(srcset="img/content/img-produkte-6.webp" type="image/webp")
							img.img(src="img/content/img-produkte-6.jpg", alt="alt")
			.col-12.col-lg-6
				.section-text.section-text--right
					h2.title-2 Shaker-Leiste als Inspirationsquelle
					p Als weltweit erster Hersteller gestaltet bulthaup Massivholzfronten in nur 13 mm Materialstärke. Dies wird durch ein innovatives Hightech Verfahren ermöglicht, bei dem nach einem stabilisierenden Lagenprinzip drei Massivholzschichten mit zwei feinen Aluminiumplatten kombiniert werden. Die geringe Stärke des Massivholzes und die feinen Aluminiumstreifen werden an den Kanten sichtbar und ergänzen die unverwechselbare, leichte Gestaltung der b3.
					p Das Furnier wird aus einem einzigen Baumstamm ausgesucht und mit höchster Gewissenhaftigkeit verarbeitet. bulthaup vereint die Vorteile von manufakturgerechter und industrieller Fertigung und sorgt für einzigartige Qualität.

	// /.container

// /.section


+section(
	'text-left',
	['img/content/img-produkte-7.jpg'],
	'Variantenvielfalt',
	['Die hohe Variantenvielfalt der Fronten und Oberflächen macht jede b3 zu einem Unikat. Warme Furnierholzfronten aus Eiche, Ahorn, Kirsche und andere Sonderfurniere können wahlweise horizontal oder vertikal furniert und mit Holz- oder Aluminiumkanten ausgestattet werden. Aluminiumfronten schaffen ein modernes Küchenerlebnis und sind im Naturfarbton und auch in Aluminium grau und Aluminium bronze erhältlich. Auch die Farbpalette der Brilliant- und Mattlacke für die Lackfronten des Einrichtungssystems bulthaup b3 ist reizvoll und breit gefächert: Silbergrau, Kaolin, Greige, Graphit, Weiß, Platin, Aubergine, Cayenne, Lehm und dazu auch noch alle Farben der NCS-Farbpalette.']
)

+section-double(
	'text-right',
	['img/content/img-produkte-8.jpg', 'img/content/img-produkte-9.jpg'],
	'Ordnungsystem',
	['Das neue bulthaup interior system bietet ein innovatives Ordnungssystem. Durch funktionale Prismen wird die rigide Ordnungsstruktur der klassischen Küchenauszüge durchbrochen und eine individuelle und intuitive Anordnung ermöglicht. Das bietet neue Freiheiten in der persönlichen Küchengestaltung: Mit umfassenden Ordnungselementen können die Auszüge im Einklang mit den eigenen Bedürfnissen ausgestattet und jederzeit schnell und einfach neu arrangiert werden. Das interior system erlaubt eine übersichtliche und ästhetische Ordnung von Besteck, Küchenutensilien, Lebensmitteln, Geschirr und vielem mehr.']
)








