// hero
section.hero

	.container

		img.img.img--full.hero__img(src="img/content/img-produkte-1.jpg", alt="alt")

		.title-block
			h1.title-1 Lebensraum Küche:
			h2.title-1.color2 bulthaup b3 verkörpert das Urbild der Wohnküche in zeitgemäßer Form

		p Minimalismus steht für formal streng reduzierte Objekte und für das Spiel mit der Wechselwirkung zwischen Objekt und Raum, offenem und geschlossenem Volumen, Innen- und Außen, Licht und Schatten. Kein anderes Küchensystem verkörpert diese Stilrichtung besser als bulthaup b3.
		p Zentrales Gestaltungselement des Küchensystems ist die Multifunktionswand, an der alles hängt: Schränke und Arbeitsplatten, Koch- und Wasserstelle, Elektrogeräte und das umfassende Zubehör. Dadurch erhält die b3 eine wunderbar leichte und schwebende Anmutung, die durch die Verwendung von besonders dünnen Materialstärken perfekt unterstützt wird. 


	// /.container

// /.hero