.section-margin
	.container
		.row
			+section-card(
				['img/content/img-partner-2.jpg'],
				'Dinesen',
				['a(href="#")'],
				['mehr erfahren']
			)
			+section-card(
				['img/content/img-partner-3.jpg'],
				'Carl Hansen & Son',
				['a(href="#")'],
				['mehr erfahren']
			)
			+section-card(
				['img/content/img-partner-4.jpg'],
				'Bocci',
				['a(href="#")'],
				['mehr erfahren']
			)