// hero
section.hero

	.container
		picture
			source(srcset="img/content/img-partner-1.webp" type="image/webp")
			img.img.img--full.hero__img(src="img/content/img-partner-1.jpg", alt="alt")

		.title-block
			h1.title-1 Unsere Partners
			h2.title-1.color2 Showroom am Ballindamm

		p Bei Dinesen dreht sich das Leben seit vier Generationen Tag für Tag um Holz bester Qualität und um gutes Handwerk. Der Respekt vor der Natur hat sich von den Vätern auf die Söhne vererbt, alle sind sie im alten Sägewerk aufgewachsen und haben die Leidenschaft der Familie für Holz weitergeführt. Kein Dinesen Boden ist wie der andere. Holz ist ein Material, das lebt, und Dinesen ist stolz auf die Herstellung harmonischer Fußböden, bei denen die Persönlichkeit des ursprünglichen Baumes respektiert wird. Und der Reichtum der Natur bewahrt ist. Dienesen liefert daher keine astfreien Böden. Äste sind die im Baumstamm sitzenden Teile des Zweiges und zeugen von der Geschichte und Lebenskraft des Baumes. Es ist ein Gütesiegel, dass die Natur in allen Dielen zu sehen und zu fühlen ist.



	// /.container

// /.hero