+section-btn(
	'text-right',
	['img/content/img-plunung-2.jpg'],
	'Lorem ipsum dolor sit amet',
	['Videamus animi partes, quarum est conspectus illustrior; Deinde prima illa, quae in congressu solemus: Quid tu, inquit, huc? Non potes, nisi retexueris illa. Id enim natura desiderat. Progredientibus autem aetatibus sensim tardeve potius quasi nosmet ipsos cognoscimus. Sin laboramus, quis est, qui alienae modum statuat industriae? Tu vero, inquam, ducas licet, si sequetur; Sin dicit obscurari quaedam nec apparere, quia valde parva sint, nos quoque concedimus;']
)

+section-btn(
	'text-left',
	['img/content/img-plunung-3.jpg'],
	'Lorem ipsum dolor sit amet',
	['Videamus animi partes, quarum est conspectus illustrior; Deinde prima illa, quae in congressu solemus: Quid tu, inquit, huc? Non potes, nisi retexueris illa. Id enim natura desiderat. Progredientibus autem aetatibus sensim tardeve potius quasi nosmet ipsos cognoscimus. Sin laboramus, quis est, qui alienae modum statuat industriae? ']
)

+section-btn(
	'text-right',
	['img/content/img-plunung-4.jpg'],
	'Lorem ipsum dolor sit amet',
	['Videamus animi partes, quarum est conspectus illustrior; Deinde prima illa, quae in congressu solemus: Quid tu, inquit, huc? Non potes, nisi retexueris illa. Id enim natura desiderat. Progredientibus autem aetatibus sensim tardeve potius quasi nosmet ipsos cognoscimus. Sin laboramus, quis est, qui alienae modum statuat industriae?']
)