+section-btn(
	'text-right',
	['img/content/img-tpUnterseite-2.jpg'],
	'Flex-Induktionskochfelder',
	['Die neuen Flex-Induktionskochfelder von Gaggenau bieten neuen Komfort und noch mehr Flexibilität. Mit ihren Funktionen lässt sich auch Kochgeschirr in verschiedenen Formen platzieren und zur Temperaturregelung einfach verschieben. Die Bedienung der Flex-Induktionskochfelder erfolgt über ein innovatives Anzeigenkonzept in Weiß und Orange in Kombination mit einem abnehmbaren Twist-Pad.']
)

+section-btn(
	'text-left',
	['img/content/img-tpUnterseite-3.jpg'],
	'Gaggenau Dunstabzüge',
	['Dunstabzüge in minimalistischen Design, reduziert, leise und hocheffizient. Als Lösung für Kochinseln oder große, offene Räume bietet Gaggenau die komplett versenkbare Tischlüftung AL 400. Kochdunst und Gerüche werden leise und effektiv direkt am Kochfeld abgesaugt. Mit der modularen Deckenlüftung AC 402 bietet Gaggenau eine einzigartige und flexible Lösung zur effizienten Raumentlüftung. Das System lässt sich in die Decke integrieren.']
)

.section-margin

	.container

		.row.custom-row
			.col-12.col-lg-6
				picture
					source(srcset="img/content/img-tpUnterseite-4.webp" type="image/webp")
					img.img(src="img/content/img-tpUnterseite-4.jpg", alt="alt")
				.row.custom-row.section-double__ind
					.col-6.col-lg-6
						picture
							source(srcset="img/content/img-tpUnterseite-5.webp" type="image/webp")
							img.img(src="img/content/img-tpUnterseite-5.jpg", alt="alt")
					.col-6.col-lg-6
						picture
							source(srcset="img/content/img-tpUnterseite-6.webp" type="image/webp")
							img.img(src="img/content/img-tpUnterseite-6.jpg", alt="alt")
			.col-12.col-lg-6
				.section-text.section-text--right
					h2.title-2 Vario Kochgeräte-Serie 400
					p Mit neuen Anwendungen erlaubt die Vario Kochgeräte-Serie 400 in zeitlosem Design und authentischen Materialien unbegrenzte Möglichkeiten für die private Küche. Für den gehobenen Anspruch ambitionierter Hobbyköche stehen zahlreiche Geräte zur Auswahl, vom klassischen Induktions-Kochfeld in verschiedenen Varianten bis hin zu speziellen Ausstattung wie dem Teppan Yaki für das Braten und Garen auf einer Metallplatte nach japanischer Tradition. Alle Geräte der Serie lassen sich je nach Bedarf miteinander kombinieren. 

+section-btn(
	'text-left',
	['img/content/img-tpUnterseite-7.jpg'],
	'Individuelle Kühlwände',
	['Mit voll integrierbaren Einbaugeräten etabliert sich 2007 die Vario Kälte-Serie 400 in Europa und den USA als erstes modulares System. Die Geräte-Serie kennzeichnen eine hochwertige Ausstattung mit edelstahlverkleideten Innenräumen und die Energieeffizienzklasse A++.', 'Gläser und große Krüge können bequem mit Eiswürfeln, Crushed-Ice oder gekühltem Wasser befüllt werden.']
)
+section-double-line(
	'text-right',
	['img/content/img-tpUnterseite-8.jpg', 'img/content/img-tpUnterseite-9.jpg'],
	'Ordnungsystem',
	['Auch kombinierbar Weinklimaschrank RW 414 oder der doppeltürigen Vario Kühl- und Gefrierkombination RY 492. Diese bietet oben klassisches Kühlen und unten eine voll ausziehbare 4-Sterne-Gefrierschublade mit bequemen Zugriff von oben und übersichtlichen Schubladen.']
)

//- .section-margin

//- 	.container

//- 		.row.custom-row
//- 			.col-12.col-lg-6
//- 				.row.custom-row
//- 					.col-12.col-lg-6
//- 						img.img(src="img/content/img-tpUnterseite-8.jpg", alt="alt")
//- 					.col-12.col-lg-6
//- 						img.img(src="img/content/img-tpUnterseite-9.jpg", alt="alt")
//- 			.col-12.col-lg-6
//- 				.section-text.section-text--right
//- 					p Auch kombinierbar Weinklimaschrank RW 414 oder der doppeltürigen Vario Kühl- und Gefrierkombination RY 492. Diese bietet oben klassisches Kühlen und unten eine voll ausziehbare 4-Sterne-Gefrierschublade mit bequemen Zugriff von oben und übersichtlichen Schubladen.