+section-btn(
	'text-right',
	['img/content/img-musterkuchen-2.jpg'],
	'Musterküche 1',
	['Das Innenleben der b1 bildet mit hoher handwerklicher Raffinesse, sinnlich anmutenden Auszügen und Schüben aus Birkenschichtholz und Einsätzen aus massiven Birkenholz einen beeindruckenden gestalterischen Kontrast zum „Außen“ der b1, das mit extremer Klarheit durch die bewusst schlicht wirkenden, einheitlichen Materialien überzeugt.  '],
	['a(href="#")'],
	['mehr erfahren']
	
)

+section-btn(
	'text-left',
	['img/content/img-musterkuchen-3.jpg'],
	'Musterküche 2',
	['Das Innenleben der b1 bildet mit hoher handwerklicher Raffinesse, sinnlich anmutenden Auszügen und Schüben aus Birkenschichtholz und Einsätzen aus massiven Birkenholz einen beeindruckenden gestalterischen Kontrast zum „Außen“ der b1, das mit extremer Klarheit durch die bewusst schlicht wirkenden, einheitlichen Materialien überzeugt.  '],
	['a(href="#")'],
	['mehr erfahren']
)

+section-btn(
	'text-right',
	['img/content/img-musterkuchen-4.jpg'],
	'Musterküche 3',
	['Das Innenleben der b1 bildet mit hoher handwerklicher Raffinesse, sinnlich anmutenden Auszügen und Schüben aus Birkenschichtholz und Einsätzen aus massiven Birkenholz einen beeindruckenden gestalterischen Kontrast zum „Außen“ der b1, das mit extremer Klarheit durch die bewusst schlicht wirkenden, einheitlichen Materialien überzeugt. '],
	['a(href="#")'],
	['mehr erfahren'],
	['der Wohnküche in zeitgemäßer Form']
)