+section-btn(
	'text-right',
	['img/content/img-starseite-1.jpg'],
	'bulthaup b1 – Küche pur!',
	['Das Innenleben der b1 bildet mit hoher handwerklicher Raffinesse, sinnlich anmutenden Auszügen und Schüben aus Birkenschichtholz und Einsätzen aus massiven Birkenholz einen beeindruckenden gestalterischen Kontrast zum „Außen“ der b1, das mit extremer Klarheit durch die bewusst schlicht wirkenden, einheitlichen Materialien überzeugt. '],
	['a(href="#")'],
	['mehr erfahren']
	
)

+section-btn(
	'text-left',
	['img/content/img-starseite-2.jpg'],
	'bulthaup b2 – Eine Küche für Pioniere',
	['Das Innenleben der b1 bildet mit hoher handwerklicher Raffinesse, sinnlich anmutenden Auszügen und Schüben aus Birkenschichtholz und Einsätzen aus massiven Birkenholz einen beeindruckenden gestalterischen Kontrast zum „Außen“ der b1, das mit extremer Klarheit durch die bewusst schlicht wirkenden, einheitlichen Materialien überzeugt. '],
	['a(href="#")'],
	['mehr erfahren']
)

+section-btn(
	'text-right',
	['img/content/img-starseite-3.jpg'],
	'Lebensraum Küche: bulthaup b3 verkörpert das Urbild ',
	['Das Innenleben der b1 bildet mit hoher handwerklicher Raffinesse, sinnlich anmutenden Auszügen und Schüben aus Birkenschichtholz und Einsätzen aus massiven Birkenholz einen beeindruckenden gestalterischen Kontrast zum „Außen“ der b1, das mit extremer Klarheit durch die bewusst schlicht wirkenden, einheitlichen Materialien überzeugt. '],
	['a(href="#")'],
	['mehr erfahren'],
	['der Wohnküche in zeitgemäßer Form']
)