// hero
section.hero

	.container
		picture
			source(srcset="img/content/img-home-1.webp" type="image/webp")
			img.img.img--full.hero__img(src="img/content/img-home-1.jpg", alt="alt")

		.title-block
			h1.title-1 Elemente für den gesamten Lebensraum
			h2.title-1.color2 bulthaup b Solitaire


	// /.container

// /.hero