extends layout/main

block variables
	- let page = 'musterkuche123'
	- let title = 'Bulthaup - Musterkuchen1/2/3'
	- let productMenu = true



block content
	include section-musterkuche/hero
	include section-musterkuche/content