extends layout/main

block variables
	- let page = 'musterkuchen'
	- let title = 'Bulthaup - Musterkuchen'



block content
	include section-musterkuchen/hero
	include section-musterkuchen/content