extends layout/main

block variables
	- let page = 'tpUnterseite'
	- let title = 'Bulthaup - tpUnterseite'
	- let tpUnterseiteMenu = true



block content
	include section-tpUnterseite/hero
	include section-tpUnterseite/content